.addInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail {
  display: flex;
  flex-direction: row;
}

.detail img {
  width: 3rem;
}

.detail-txt {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
}

.detail-txt h1 {
  font-size: medium;
  margin-bottom: 0.1rem;
}

.detail-txt p {
  font-size: small;
  margin-top: 0.1rem;
  font-weight: 300;
}
