.InfoCard {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 18rem;

  border: none;
  background-color: rgba(red, green, blue, 0);
}

.InfoCard > .time {
  font-size: 1.5rem;
  font-weight: 500;
}

.tempAvgDiv {
  font-size: 2rem;
  font-weight: 900;
}

.tempRangeDiv {
  font-size: 1rem;
  font-weight: 500;
}
.InfoCard > .iconTag {
  width: 7rem;
  overflow: hidden;
}
