.localInfoContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#cityName {
  margin-top: 15px;
  font-size: 3.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#countryContainer {
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#localtimeContainer {
  padding-top: 15px;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
